body{
  margin:0;
  padding: 0;
  background-color: lightgrey;
}

.NavBar {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
}

.NavBar .Logo{
  color: white;
  flex: 50%;
}

.NavBar .Right{
  display: flex;
  flex: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  
}


.NavBar .Right .Links a{
  text-decoration: none;
  font-size: 25px;
  margin-right: 25px;
  justify-content: center;
  padding-left: 200px;
}

.Player {
  height: 150px;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}